. {
    
}
.header {
    display:flex;
    height: 100px;
}
.header div {
    background: red;
    flex: 1;
}

.main1 {
    display: flex;
    background: #1F2937;
}

.main1 div {
    text-align: center;
    height: 100%;
    flex: 1;
}

.pt1 {
    display: flex;
    margin:50px;
    background: #1F2937;
}

.pt1 div {
    text-align: center;
    height: 100%;
    flex: 1;
}

#maintext {
    color:#F9FAF8;
    font-size: 48px;
}

#subtext {
    color:#E5E7EB;
    font-size: 18px;
}